{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "@next/next/no-img-element": "off",
    "jsx-a11y/alt-text": "off",
    "react/jsx-no-duplicate-props": "off",
    "@next/next/no-html-link-for-pages": "off",
    "react/jsx-key": "off"
  }
}
